* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    background-color: rgb(13, 224, 224);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 2fr;
    font-size: 28px;
    font-weight: 600;
}

.title {
    display: grid;
    align-items: center;
    margin-bottom: 5vh;
}

.links1 {

    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.links1 div {
    display: grid;
    align-items: center;
}

.links2 {
    margin-top: 5vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.links2 div {
    display: grid;
    align-items: center;
}

.header{
    background-color: rgb(52, 84, 73);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1.5fr 2fr;
}

.top-row {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr 1fr 2fr;
}

.icon {
    width: 50px;
    padding-left: 25px;
}

.search {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    background-color: black;
}

.bell {
    width: 50px;
}

.name {
    font-size: 32px;
    font-weight: 600;
}

.bottom-row {
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;

}

.main {
    background-color: rgb(168, 111, 36);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.project {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 50%;
}

.rightside {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trendee {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.trendee-logo {
    grid-row: 1 / 3
}